body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;

}

.titulo {
    text-align: center;
    padding: 16;
}

.Semifinal-1{
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    max-width: 800px;
    margin: auto;

    
}

.Semifinal-2{
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    max-width: 800px;
    margin: auto;

    
}
.luchadorP {
    border: 1px solid #333;
    padding: 10px;
    /* background: color; se cambia a dinamico */
    text-align: center;

    border-radius: 1em;

}

#pokemon-3{
    background-color:"color";
    margin-top: 20px;
}

#pokemon-4{
    
    margin-top: 20px;
}
.vs{
    text-align: center;
    margin: auto;
    font-size: 32px;
}

.img {
    width: 90%;
}

.button {
    background-color: #009CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    cursor: pointer;
  }
.button:hover{
    background-color:#01768d ;
}
